@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Montserrat|Open+Sans|Poppins|Rakkas&display=swap');

body {
    padding: 20px;
    font-family:'Montserrat', 'Times' ,sans-serif;
    font-size: 1.0em;
    background-image: url("../images/4k-wallpaper-background-blur-1242348.jpg");
    background-repeat: no-repeat;
    background-size:cover;

 }

header{
    font-family:'Poppins', sans-serif;
    font-size: 1.5em;
    background: #F7C331;
    padding: 20px;
    text-align:center;
}
nav ul {
    list-style-type: none;
    margin: 20px;
    padding: 0;
    display:block;
    border:solid;
    text-align: center;
    height: auto;
    width: 200px;
    position:fixed;
    background-color:#F7C331;
    }

nav ul li {
    border-bottom: solid;
    vertical-align: middle;
    padding: 20px;
}
nav ul li:last-child {
    border-bottom: none;
}

main {
    margin-left: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
}

main h1 h2 h3 h4 h5 h6 {font-family: 'Open Sans', serif;}

main h1 {
    font-size:1.5em;
    font-weight: bold;
    text-align: left;
}

main h2 {
    font-size: 1.1em;
    font-style: italic;
    font-weight:bold;
    text-align: left;
    padding-top:10px;
    padding-bottom:10px;
}

#content ul {
    list-style-type: square;
    list-style-position: inside;
    padding-top:10px;
    }

#content ul li {
    padding-bottom: 5px;
    margin-left:10px;
}

footer {
    margin-top:auto;
    margin-left:250px;
    font-family: 'Crimson Text', serif;
    font-weight: bold;
    font-size:1.1em;
    text-align:left;
    margin-bottom:20px;
}
/* additional comment */
/*
 .selector, .declaration, .property, .value, .rule {
 font-family: 'Montserrat', 'Times', sans-serif;
 }

/*COLOR SCHEME I LIKE
Color Scheme: Blueberry (#6B7A8F), Apricot (#F7882F), Citrus (#F7C331) and Apple Core (#DCC7AA)
SOURCE: https://www.canva.com/learn/website-color-schemes/

FONTS I LIKE:
font-family: 'Open Sans', sans-serif;
font-family: 'Crimson Text', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Rakkas', cursive;
font-family: 'Poppins', sans-serif;
SOURCE: https://www.awwwards.com/20-best-web-fonts-from-google-web-fonts-and-font-face.html
*/
